<ion-view title="Event">
    <ion-content padding="'true'" class="has-header">
    <div class="col-md-6 col-md-offset-3" >
        <h2>{{even.name}}</h2>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; background-color: rgb(255, 255, 255);">
            <!-- <img ng-src="{{image.url_image}}"> -->
        </div>
        <div>
            <p>{{even.description}}
            </p>
        </div>
        <ion-list>
            <ion-item menu-close="">Who : <a href="#/performer/{{even.performer_id}}">{{perf.name}}</a></ion-item>
            <ion-item menu-close="">Where : <a href="#/place/{{even.place_id}}">{{place.name}}</a></ion-item>
            <ion-item menu-close="">When : {{even.date}}</ion-item>
            <ion-item menu-close="">How much : {{even.price}}</ion-item>
        </ion-list>
      </div>
    </ion-content>
</ion-view>