<ion-view title="Place">
    <ion-content padding="'true'" class="has-header">
    <div class="col-md-6 col-md-offset-3">
        <h2>{{place.name}}</h2>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; background-color: rgb(255, 255, 255);">
            <img ng-src="{{image.url_image}}">
        </div>
        <div>
            <p>{{place.description}}
            </p>
        </div>
        <ion-list>
            <ion-item menu-close="">Location : {{place.adress}}</ion-item>
            <ion-item menu-close="">Capacity : {{place.capacity}}</ion-item>
            <ion-item menu-close="">Website : {{place.url_place}}</ion-item>

        </ion-list>
        <button class="button button-clear button-positive" ng-click="addLike()">Like!</button>
    </div>
    </ion-content>
</ion-view>