<ion-view title="Profile">
  <ion-tabs class="tabs-top">
    <ion-tab title="Performers liked" ui-sref="tab.likes.performers">
      <ion-nav-view name="tab-likes-performers"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Places liked" ui-sref="tab.likes.places">
      <ion-nav-view name="tab-likes-places"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Account parameters" ui-sref="tab.likes.params">
      <ion-nav-view name="tab-likes-params"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>